@import "ember-bootstrap/bootstrap";
@import "ember-basic-dropdown";
$background-color: #282E38;
$secondary-background-color: #323A46;
$light-dark-color: #3B4452;
$main-text: #fff;
$secondary-text: #A9B3BD;
$color-cases: #21AFDD;
$color-recovered: #10C469;
$color-death: #FF5B5B;
$color-critical: #F9C851;
$card-border-radius: 20px;
$card-padding: 20px;


body {
  background-color: $background-color;
  color: $main-text;
  padding-left: 4em;
  padding-right: 4em;
}

.btn{
  color: $main-text;
  margin: 5px;
  opacity: 70%;
  align-content: center;
  font-size: 10px;
  width: auto; 
  height: 12px;
  &:hover{
    opacity: 100%;
    color: $main-text !important;
  }
}
.btn-map-cases{
  background-color: $color-cases;
}

.btn-map-deaths{
  background-color: $color-death;
}

.btn-map-recovered{
  background-color: $color-recovered;
}

.btn-map-critical{
  background-color: $color-critical;
}

#virus-image {
  height: 30px;
  width: 30px;
}

.infectedCountries {
  max-height: 335px;
  overflow-y: scroll;
  margin-left: -40px;
  padding-left: 40px;
}

.navbar-custom {
  background-color: $background-color !important;
}

.text-blue {
  color: $color-cases;
}

.card-box {
  background-color: $secondary-background-color;
  border-radius: $card-border-radius;
  padding: $card-padding;
  margin-bottom: 2em;
}

.casesSmall {
  font-size: 12px;
  float: right;
  margin-top: -60px;
}

.infectedCountry {
  border-bottom: 2px solid $light-dark-color;
  padding: 5px;
  padding-top: 10px;
  margin-top: 5px;
}

.infectedCountryName {
  font-size: 1em;
}

.infectedCountryDetails {
  font-size: .8em;
  margin-top: -10px;
}

.header-title {
  font-size: 1.2em;
}

#today-stats {
  font-size: .8em;
  margin-top: 5px;
  color: $secondary-text;
  font-weight: bold;
}

.data {
  padding: 15px;
  border-radius: 5px;
}

.recovered {
  border-bottom: 5px solid $color-recovered;
}

.death {
  border-bottom: 5px solid $color-death;
}

.critical {
  border-bottom: 5px solid $color-critical;
}

.infected {
  border-bottom: 5px solid $color-cases;
}

.graph-icon {
  border-radius: 30px;
  height: 20px;
  width: 50px;
  text-align: center;
  font-size: 8px;
}

.icon-infected {
  background-color: $color-cases;
  margin-top: -20px;
}

.icon-deaths {
  background-color: $color-death;
}

.icon-recovered {
  background-color: $color-recovered;
}

.icon-critical {
  background-color: $color-critical;
}

.material-icons {
  padding-top: 2px;
  font-size: 12px;
}

.total {
  font-size: 2em;
}

.today {
  font-size: .7em;
}

#search {
  background-color: $background-color;
  color: $main-text;
  border-color: $light-dark-color;
  width: 100%;
  font-size: 12px;
}

.custom-select {
  background-color: $background-color;
  color: $main-text;
  border-color: $light-dark-color;
  font-size: 12px;
}

.custom-select-content{
  background-color: $background-color !important;
  font-size: 12px;
  li{
    border-bottom: 1px solid $light-dark-color;
    padding: 5px;
    margin-right: 5px;
  }
}

#country-control {
  margin-bottom: -20px;
}

li {
  list-style-type: none !important;
  margin-left: -30px;
}

.filter{
  margin-right: -30px;
}

.filters{
  width: 100px !important;
}
