<div class="header">
    <nav class="navbar navbar-custom bg-dark">
        <div class="mx-auto order-0">
            <div class="navbar-brand"><img src="assets/images/virus.png" id="virus-image" alt=""> Corona
                Statistics</div>
        </div>
    </nav>
</div>
<div class="body">
    {{outlet}}
</div>